.lanyard-wrapper {
  width: 50%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: auto;
  z-index: 10;
}

@media (max-width: 768px) {
  .lanyard-wrapper {
    display: none;
  }
}